body {
  align-items: center;
 font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #354064;
  color: white;
 transition: all 0.1s ease;
 justify-content: space-around;
 height: 100vh;
}
h1 {
  font-size: 3em;
}
button{

    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #272727;
    font-weight: bold;
    color: white;
   justify-self: center;
}
button:hover{
  transform: scale(1.03);
  filter: drop-shadow(2px 2px 5px rgb(26, 25, 25));
  color: rgb(210, 211, 211);
 transition: all 0.2s ease;

}
.container {
  width: 85%;
  justify-content: space-around;
  display: flex;
  max-width: 900px;
  margin-bottom: 20px;
}
.wrapper{
    height: 200px;
    padding:5px;
    width: 130px;
    background-color: white;
    border-radius: 5px;
    color: black;
  
}
.code{
    margin-bottom: 0px;
}
.color {
  height: 150px;
  width: 125px;
  border-radius: 5px;
  content: "";
  margin: auto;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;  transition: all 0.2s ease;
}
.fas{
   color: rgb(255, 255, 255);
font-size: 2em;
opacity: 0;
 transition: all 0.2s ease;
 cursor: pointer;
 padding:25px;
}

.copy{
  
  background-color: #272727;
  padding:10px 20px;
  border-radius: 50px;
}
.show{
  opacity: 1;
  transition: all 0.3s ease;
}
.bottom{
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: space-evenly;
text-align: center;
height: 200px;
}
@media(max-width:700px){
    .container{
       justify-content: center;
        display: grid;
        gap: 20px;
        width: 90%;
        grid-template-columns: 150px 150px;
margin-bottom: 30px;
    }
    .wrapper:last-child{
      justify-self: center;
    }
}